:host .texto-central{
   font-style: inherit;
   text-align: left;
   font-family: 'Times New Roman', Times, serif;
}
:host .resposta-central{
   font-style: inherit;
   text-align: right;
   font-family: 'Times New Roman', Times, serif;
}

.lista-botoes{
   margin-top: 5rem;
}

@media screen and (min-height: 800px){
   
   .lista-botoes{
       margin-top: 5rem;
   }
}