<div style="justify-content: space-around; text-align: center;">

    
    <div class="row" class="texto-central">
        <clr-icon shape="circle" class="is-solid"></clr-icon>
        <h1>Jogos para o ensino</h1>
    </div>

    
    <div class="row" class="texto-central">
        <clr-icon shape="circle" class="is-solid"></clr-icon>
        <h1>Avaliações Heurísticas</h1>
    </div>

    
    <div class="row" class="texto-central">
        <clr-icon shape="circle" class="is-solid"></clr-icon>
        <h1>Projetos do DEXTER's</h1>
    </div>
</div>
