
<div class="container header-principal">   
    <div class="itens-superiores">
        <div class="col-6" style="display: flex;width:80vw">
            <!-- <h1 style="color: #fff;font-weight: 800;margin-right: 2rem;margin-left: 2rem;text-align: center;"><strong>SRT Dex</strong></h1> -->
            <!-- <img style="" width="125px" height="125px" src="../assets/SRT.png"> -->
            <!-- <img style="margin: 10px;" width="100px" height="100px" src="../assets/brasao-normal.png"> -->
        </div>
        <div class="col-4">
            <h4 class="texto-superior" >
                Repositório de Técnicas de Avaliação para Jogos Educacionais 
            </h4>
        </div>
    </div>
</div>
<!-- <div class="header" style="background-color: #eeeeee;height: 8vh; border-bottom-style: solid; border-bottom-width: 2px; border-color: #008B8B;">
    <div class="header-actions" style="justify-content: space-around; ">
        <a href="javascript://" class="nav-link nav-icon-text" style="color: black; font-size: 20px;">Inicio</a>
        <a routerLink="/comecar" routerLinkActive="active" class="nav-link nav-icon-text navitem" style="color: black; font-size: 20px;">Começar</a>
        <a routerLink="/lista" routerLinkActive="active" class="nav-link nav-icon-text navitem" style="color: black; font-size: 20px;">Lista de técnicas</a>
        <a href="javascript://" class="nav-link nav-icon-text" style="color: black; font-size: 20px;">Como contribuir</a>
        <a href="javascript://" class="nav-link nav-icon-text" style="color: black; font-size: 20px;">Contatos</a>
    </div>
</div> -->

<router-outlet></router-outlet>

<footer style="background-color: #000000ce; height: 15vh;justify-content: space-around; width: 100%; bottom: 0;position: fixed; display: flex;">
    <div style="margin: auto;margin-left: 5rem;">
        <img src="../../assets/Logo.png"/>
    </div>   
    <div style="margin: auto;margin-right: 0;display: flex;">
        <span style="color: rgb(194, 34, 34);">
            <clr-icon style="width: 3rem;" class="is-solid icon-inferior"  shape="map-marker"></clr-icon>
        </span>
        <div class="texto-inferior">
            <h4 style="color: white;margin-right: 3rem;">
                Av. dos Portugueses, 1966 - Vila Bacanga, São Luís - MA, 65080-805
            </h4>
        </div>
    </div>
</footer>