
<div class="container header-principal">   
    <div class="itens-superiores">
        <div class="col-6">
            <img style="margin: 10px;" width="100px" height="100px" src="../assets/brasao-normal.png">
        </div>
        <div class="col-6">
            <h3 class="texto-superior" >
                Sistema de recomendação de técnicas para avaliação de usabilidade de jogos educacionais mobile
            </h3>
        </div>
    </div>
</div>
<div class="header" style="background-color: #eeeeee;height: 8vh; border-bottom-style: solid; border-bottom-width: 2px; border-color: #008B8B;">
    <div class="header-actions" style="justify-content: space-around; ">
        <a href="javascript://" class="nav-link nav-icon-text" style="color: black; font-size: 20px;">Inicio</a>
        <a href="javascript://" class="nav-link nav-icon-text" style="color: black; font-size: 20px;">Começar</a>
        <a href="javascript://" class="nav-link nav-icon-text" style="color: black; font-size: 20px;">Lista de técnicas</a>
        <a href="javascript://" class="nav-link nav-icon-text" style="color: black; font-size: 20px;">Como contribuir</a>
        <a href="javascript://" class="nav-link nav-icon-text" style="color: black; font-size: 20px;">Contatos</a>
    </div>
</div>

<app-meu-primeiro></app-meu-primeiro> 

<div style="background-color: #000000; height: 20vh;justify-content: space-around; width: 100%; margin-top: -0px;">   
    <div>
        <clr-icon class="is-solid icon-inferior" shape="map-marker"></clr-icon>
        <div class="texto-inferior">
            <h3 style="color: white;">
                Av. dos Portugueses, 1966 - Vila Bacanga, São Luís - MA, 65080-805
            </h3>
        </div>
        
    </div>
</div>
