<div style="margin:5rem;margin-top: 2rem;">
    <div style="text-align: center;">
        <b><h1 style="color: #CB6528;font-weight: 600;">{{resultado.nome}}</h1></b>
    </div>
    <div style="margin-bottom: 6rem;">
        <h3 style="font-weight: 400;color: cadetblue;">
            <b>
                Descrição da Técnica
            </b>
        </h3>
        <p>
            {{resultado.descricao}}</p>
        <h3 style="font-weight: 400;color: cadetblue;">
            <b>
                Método de Aplicação da Técnica
            </b>
        </h3>
        <p>
            {{resultado.metodo}}
        </p>
        <h3 style="font-weight: 400;color: cadetblue;">
            <b>
                Aspectos Avaliados
            </b>
        </h3>
        <p>
            {{resultado.avaliacao}}
        </p>
        <h3 style="font-weight: 400;color: cadetblue;">
            <b>
                Referências
            </b>
        </h3>
        <p>
            {{resultado.referencia}}
        </p>
    </div>
</div>