<div class="bg-inicio">
    <img src="../../assets/BG.png" style="width: 100%;margin-top:-7rem"/>
</div>
<div style="display: block;">
    <div class="header" style="background-color: #eeeeee;height: 8vh; border-bottom-style: solid; border-bottom-width: 2px; border-color: #008B8B;">
        <div style="margin-left: auto; margin-right: 3rem; margin-top: 2rem;">
            <div class="header-actions" style="justify-content: space-around; ">
                <button style="background-color: #CB6528;">
                    <a routerLink="/srt/comecar" class="nav-link navitem " style="width: 7rem;color: rgb(255, 255, 255); font-size: 20px; background-color: #CB6528;opacity: 1;">Começar</a>
                </button>
                <a routerLink="/srt/inicio" class="nav-link navitem " style="width: 7rem;color: rgb(255, 255, 255); font-size: 20px;opacity: 1;">Inicio</a>
                <!-- <button style="background-color: #CB6528;">
                </button> -->
                <a routerLink="/srt/contato" routerLinkActive="active" class="nav-link nav-icon-text navitem" style="width: 7rem;color: rgb(255, 255, 255); font-size: 20px;opacity: 1;">Contato</a>
            </div>
        </div>
    </div>
</div>
<div >
    <div style="display: flex; justify-content: space-between;">
        <div  style="width: 40%; margin-left: 8rem;">
            <h1 class="texto-superior">
                Repositório de Técnicas de Avaliação para Jogos Educacionais 
            </h1>
        </div>
        <!-- <div  style="width: 40%; margin-left: 8rem;">
            <button class="btn btn-primary" style="background-color: #FFF43C;position: relative; width: 300px;height: 75px;border-radius: 50px;border-color: #FFF43C ;">
                <a routerLink="/srt/comecar" class="nav-link navitem " style="width: 7rem;color:cadetblue; font-size: 20px;opacity: 1;">Começar</a>
            </button>
        </div> -->
    </div>
    <div style="margin-top: auto;display: flex;justify-content: space-between;">
        <div class="inicio-topico" style="margin-left: 5rem; margin-right: 5rem;width: 35vw;text-align: center;">
            <h3 style="position: relative;font-weight: 400;">
                <b>Listagem completa de todas as técnicas</b> 
            </h3>
        </div>
        <div class="inicio-topico" style="margin-left: 5rem; margin-right: 5rem;width: 35vw;text-align: center;">
            <h3 style="position: relative;font-weight: 400;">
                <b>Um pouco sobre Qualidade de Software</b> 
            </h3>
        </div>
        <div class="inicio-topico" style="margin-left: 5rem; margin-right: 5rem;width: 35vw;text-align: center;">
            <clr-icon shape="form"></clr-icon>
            <h3 style="position: relative;font-weight: 400;">
                <b>Você tem dúvidas sobre como escolher uma técnica?</b> 
            </h3>
        </div>
        
    
    </div>
</div>



<footer style="background-color: #000000ce; height: 15vh;justify-content: space-around; width: 100%; bottom: 0;position: fixed; display: flex;">
    <!-- <div style="margin: auto;margin-left: 5rem;">
        <img src="../../assets/Logo.png"/>
    </div>   
    <div style="margin: auto;margin-right: 0;display: flex;">
        <span style="color: rgb(194, 34, 34);">
            <clr-icon style="width: 3rem;" class="is-solid icon-inferior"  shape="map-marker"></clr-icon>
        </span>
        <div class="texto-inferior">
            <h4 style="color: white;margin-right: 3rem;">
                Av. dos Portugueses, 1966 - Vila Bacanga, São Luís - MA, 65080-805
            </h4>
        </div>
    </div> -->
</footer>